*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #E50815;
$bg-color-first: #222;
$bg-color-second: #111;

body{
    background-color: $bg-color-first;
    font-family: sans-serif;
}